#contactP{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactPtitle{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.clientsDesc{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: lab(100% 0.01 -0.01);
}
.clientsImg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: rgb(55, 55,55);
}
.clientImg{
    object-fit: cover;
    width: 5rem;
    height: auto;
    filter: grayscale(30%);
    transition: all 0.3s ease-in-out;
    padding: 1rem;
}   